body {
    margin:0;
    background-color: rgb(204, 203, 203);
}
.amazon-logo {
    background-color: #222f3e ;
    margin: 0;
    display: block;
}
.amazon-logo-img {
    width: 100px;
    height: 100%;
    padding: 15px 0 15px 50px ;
}
#headings{
    display: block;
    background-image: url(bg-image.png) ;
    text-align: center;
    padding: 3em;
    margin: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
#table {
    background-color:#364759 ;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.table-heads {
    padding: 10px;
    color: rgb(255, 255, 255);
}
.paragraph {
background-color: rgb(245, 102, 0);
color: white;
text-align: center;font-size: larger;
padding: 5px 0;
margin: 3em;
font-family: Arial, Helvetica, sans-serif;
}
.p-images {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    box-shadow:9px 7px 15px 0px rgb(34 60 80 / 20%) ;
    margin: 1rem;
    padding: 0;
    object-fit: cover;
}
 #image-container {
    display: block;
    background-color: white;
    padding: 0.5rem;
    margin: 0 3em;
}
#spans {
    display: block;
    background-color: white;
    margin: 0 3em;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.subtitle {
    margin-left: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color:rgb(0, 113, 133);
}
div.img-span  img{
    display: block;
    width: 1420px;
}
footer {
    display: block;
    background-color: #222f3e;
    text-align: center;
    padding: 4rem 4rem 7rem;
    height: 60px;
}
.img-span {
    display: block;
    text-align: center;
    margin: 3em;
   
}
#anchor {
    text-align: center; 
    background-color: #364759;
    padding: 1rem;
    margin: 4rem 0 0 ;
    margin-bottom: 0;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: 600;
}